<div class="sidebar_item">
	<h3 style="margin: 6px 0; text-align: center;">Sign-in!</h3>

	<%= form_for(:session, :url => sessions_path) do |f| %>
	
		<%= f.label :username %>
		<%= f.text_field :username, :size => 16 %><br />
		
		<%= f.label :password %>
		<%= f.password_field :password, :size => 16 %>
		
		<div style="margin: 3px auto;"><%= f.submit "Go" %></div>
	
	<% end %>

	<hr />
	<div style="text-align: center; margin: 3px 0;">
		<%= link_to "Sign-up!", new_user_path %>
	</div>
</div>
