<div class="sidebar_item">
	<h3 style="margin: 6px 0; text-align: center;">Sign-in!</h3>

	<%= form_for(:session, :url => sessions_path) do |f| %>

	<table class="sign_in_table">
		<tr><td><%= f.label :username %></td></tr>
		<tr><td><%= f.text_field :username, :size => 16 %></td></tr>
		<tr><td><%= f.label :password %></td></tr>
		<tr><td><%= f.password_field :password, :size => 16 %></td></tr>
		<tr><td><%= f.submit "Go" %></td></tr>
	</table>
	
	<% end %>

	<hr />
	<div style="text-align: center; margin: 3px 0;">
		<%= link_to "Sign-up!", new_user_path %>
	</div>
</div>
