<div class="new_post">

<h2>New Post</h2>

<%= form_for(@post) do |p| %>

	<%= render 'shared/error_messages', :object => p.object %>
	<div class='jquery_error'></div>

	<%= p.label :title %><br />
	<%= p.text_field :title, :size=> 60 %><br />
	
	<%= p.label :subtitle %><br />
	<%= p.text_field :subtitle, :size=>60 %><br />
	
	<%= p.label :content %><br />
	<%= p.text_area :content, :cols => 80, :rows => 10 %></br>

	<div class="display_tags">Tags:<br />
		<%= render :partial => 'shared/post_tags', :collection => @tags %>
	</div>
	<%= p.submit "Save!" %>

<% end %>

	<div class="update_position"></div>

	<br />
	<%= form_for Tag.new, :remote=>true do |t| %>
		<%= t.label "New Tag:" %>
		<%= t.text_field :name, :size => 30, :class=>'new_tag' %>
		<%= t.submit "Add Tag" %>
	<% end %>

</div>
