<h2 class="new_post">Preview Post</h2>

<div class="post">

	<%= date_flag(@post.created_at) %>
	
	<h2><%= @post.title %></h2>
	<%= !@post.subtitle.empty? ? raw("<h3>#{ @post.subtitle }</h3>") : "" %>
	<div class="content"><%= raw(@post.content) %></div>
	<p class="footer_text">
		Posted By: <%= @post.user.first_name + " " + @post.user.last_name %>
		(<%= @post.created_at.strftime("%B %d, %Y @ %H:%M %Z") %>)
		<span style="float: right;">&lt;/fnord&gt;</span>
	</p>
</div>

<span style="float:left; margin-left: 30px;"><%= button_to 'Edit', edit_post_path(@post), :method => :get %></span>
<span style="float:left;"><%= button_to "Delete", { :action => "delete", :id => @post.id }, :confirm => "Are you sure?", :method => :delete %></span>
<span style="float:left;"><%= button_to 'Publish', :controller => :posts, :action => :publish, :id => @post.id %></span>


