<h2 class="new_post">Preview Post</h2>

<div class="post">

	<%= date_flag(@post.created_at) %>
	
	<%= render @post %>

</div>

<span style="float:left; margin-left: 30px;"><%= button_to 'Edit', edit_post_path(@post), :method => :get %></span>
<span style="float:left;"><%= button_to "Delete", post_path(@post), :confirm => "Are you sure?", :method => :delete %></span>
<span style="float:left;"><%= button_to 'Publish', publish_path(@post) %></span>


