<!DOCTYPE html>

<html>

<head>
	<title>A Random FNORD <%=@title%></title>
	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'main', :media => 'all' %>
</head>

<body>
	<header><%= render 'layouts/header' %></header>
	<section class="main"><%= yield %></section>
	<section class="sidebar"><%= render 'layouts/sidebar' %></section><br />
	<!--
	<footer><%= render 'layouts/footer' %></footer> -->
</body>

</html>
