<!DOCTYPE html>

<html>

<head>
	<title>A Random FNORD <%=@title%></title>
	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'main', :media => 'all' %>
</head>

<body>

<div id="wrapper_outer">
<div id="wrapper_inner">

	<div class="header"><header><%= render 'layouts/header' %></header></div>
	
	<div class="nav"><nav><%= render 'layouts/navigation' %></nav></div>
	
	<div id="main_content">
		<div id="left_content">
			<%= yield %>
		</div>
		
		<div id="sidebar">
			<%= render 'layouts/sidebar' %>
		</div>
		<p style="clear: both;" />
	</div>

	<div class="footer"><footer><%= render 'layouts/footer' %></footer></div>
	
	
</div>
</div>
	
</body>

</html>
