<!DOCTYPE html>

<html>

<head>
	<title>A Random FNORD <%=@title%></title>
	<%= csrf_meta_tag %>
	<%= stylesheet_link_tag 'main', :media => 'all' %>
</head>

<body>
	<%= render 'layouts/header' %>
	<%= render 'layouts/sidebar' %>
	<div class="main">
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
</body>

</html>
